.Rproj.user
.Rhistory
.RData
.Ruserdata



Data/
Documents/
Drafts/
Meeting-Notes/
Results/

Scripts/old_scripts-to-delete-20230304
Scripts/Tidy/to-delete-20230301
Scripts/Analysis/to-delete-20230306
Scripts/Figures/old_figure-military_hd.R
tmp-*
tmp-*/

Talks/
